.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.renviron
.rapp.history
.directory
.project
.settings
.ds_store
.log
.rprofile
.rproj
.rhistory
.o
.sl
.so
.dylib
.a
.dll
.def
unsrturl.bst
.aux
.backups
.cproject
.dropbox
.exrc
.gdb.history
.gitattributes
.gitmodules
.hgtags
.project
.seed
.settings
.tm_properties
