@media (min-width: 768px)
.navbar-nav>li>a {
    float: left;
    padding-left: 15px;
    --bs-nav-link-padding-x
}
@media (min-width: 768px)
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
@media (min-width: 992px)
.col-md-3 {
    width: 25%;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
@media (min-width: 768px)
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}
.nav-link {
    color: #grey;
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav>li {
    position: relative;
    display: block;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    box-sizing: border-box;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: .5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    margin: 0;
}
body > .container {
    display: flex;
    height: 100%;
    flex-direction: column;
}


a {
    background-color: transparent;
    text-decoration: none;
    color: #337ab7;
}
a:hover {
  text-decoration: none;

}

.text-muted {
    --bs-text-opacity: 1;
    color: #f2e9e9 !important;
    background-color: grey;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.container{

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
